<head>
  <title>Podshark</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
  <ui-view>Loading...</ui-view>
  <!--<podshark-app>Loading...</podshark-app>-->
</body>